body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#EDBECA, #F7A1BB);
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Vtks DeloresAmores';
    font-size: 8em;
    color: #3EF216;
    width: auto;
    margin: 0;
}

h3 {
    font-family: 'Vtks DeloresAmores';
    font-size: 3em;
    color: #3EF216;
    width: auto;
    margin: 0;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

